:root {
  --primar-color: rgb(41, 38, 38);
  --second-color: rgb(200, 193, 193);
  --tercer-color: rgba(218, 21, 201, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}
body {
  width: 98%;
  text-align: center;
  padding: 0.5em auto;
  background: linear-gradient(
    rgba(0, 255, 221, 0.842),
    rgba(255, 15, 255, 0.87)
  );
  min-height: 80vh;
  display: block;
  position: relative;
  transition-property: ease left;
  transition: 0.8s;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#b2e0ee, #5d7fec);
  clip-path: circle(30% at left 90%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(192, 167, 238), rgb(155, 141, 238));
  clip-path: circle(10% at 100% 0%);
}
.bod {
  width: 98%;
  padding: 0.5em auto;
  background: linear-gradient(#2c2b2b, rgb(119, 25, 122));
  min-height: 80vh;
  display: block;
  position: relative;
  transition-property: ease left;
  transition: 0.8s;
}

.bod::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#71aec0, #6c7460);
  clip-path: circle(30% at left 90%);
}
.bod::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(76, 111, 128), rgba(230, 127, 221, 0.685));
  clip-path: circle(10% at 100% 0%);
}
.container {
  width: 94%;
  margin: 0.5em auto;
  padding: 0.5em auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  backdrop-filter: blur(5px) saturate(200%);

  min-height: 97vh;
  background: rgba(0, 255, 221, 0.281);
}

.principal {
  width: 98%;
  position: relative;
  height: 100%;
  display: flex;
  margin: 1em auto;
  padding: 0.5em auto;
  text-align: center;
  backdrop-filter: blur(5px) saturate(200%);
}
.principal .title-content {
  width: 50%;
  margin: 0.5em;
  padding: 0.5em;
  color: rgb(139, 38, 156);
  font-size: 2rem;
}
.title-content {
  margin: 0.5em auto;
  padding: 0.5em;
  color: rgb(139, 38, 156);
  font-size: 2rem;
}
.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1em auto;
}
.menus {
  display: block;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.5em;
  background: rgba(159, 196, 255, 0.959);
  border-radius: 5px;
}
.menu {
  width: 20%;
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.5em;
  font-size: 1rem;
  color: #26182e;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
}
.menu:hover {
  color: #fff;
  background: rgba(255, 50, 250, 0.5);
  transition: 0.3s ease;
}
.sidebar {
  display: block;
  width: 30%;
  text-align: center;
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid #b75dec;
  border-radius: 20px;
  backdrop-filter: blur(20px) saturate(200%);
  min-height: 50vh;
}

.parrafo {
  display: flex;
  position: relative;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}

.btn {
  width: 40%;
  background: none;
  font-size: 1rem;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 5px;
  backdrop-filter: blur(25px) saturate(200%);
  border: 1px solid #5d7fec;
  display: inline-block;
  position: relative;
}
#btn:hover {
  background: #2f2f2f60;
  transition: 0.3s;
}
#btn2:hover {
  background: #fff2f260;
  transition: 0.3s;
}

.center {
  width: 60%;
  margin: 1em auto;
  padding: 0.6em;
  min-height: 50vh;
  border: 1px solid #b75dec;
  border-radius: 20px;
  text-align: center;
}

.content {
  width: 100%;
  padding: 0.5em;
  display: flex;
  margin: auto;
}
.fo {
  width: 100%;
  margin: 2em auto;
  padding: auto;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  text-shadow: 5px 5px 15px;
}
.dat {
  color: #ffffff;
  text-shadow: 5px 5px 15px;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  html {
    font-size: 5px;
  }
} ;
